

/*big tablets to 1200px(width smaller then the 1140px row)*/
@media only screen and  (max-width:1200px ){
    .our-msg,h4{
        width: 100%;
        padding: 0 2%;
    }
    .row{
        padding: 0 2%;
    }
    .main-nav{padding: 0 2%;}
    h4{
        padding-top: 2%;
    }
}
/*small tablets to big tabs: from 768px to 1023px*/
@media only screen and  (max-width:1023px ){
    body{
        font-size: 18px;
        
    }
    section{
        padding:  50px 0;
    }

    .about{
     
        width: 80%;
        margin-left: 10%;

}
    .icon-small{
        width: 17%;
        
    }
    .location-icon{
        font-size: 90%;
        
    }
    .contact{
        width: 70%;
    }
}
/*small phones to small tabs : from 481px to 767px */
@media only screen and  (max-width:767 ),(max-height:900){
    body{font-size: 16px;.0
    section{padding:30px }
    .our-msg{
        width: 100%;
        padding: 0;
    }
    .row{
        padding: 0 6%;
        
    }
    .main-nav{padding: 0 6% ;}
    
    .col{
        width: 100%;
        margin: 0 0 4% 0;     
    }
    footer{
        padding-top: 5%;
        margin-top: 20%;
    }
    .our-msg{
        width: 100%;
        margin-left: 0;
    }
    h1{
        font-size: 180%;
        
    } 
    h2,h4{
        font-size: 150%;
    }
  


    
}
    
/*small phones: from 0 to 480px*/
@media only screen and  (max-width:480px ){
    footer{
        
        margin-top: 5%;
    }
    .section{
        padding:25% 0;
        
    }
    .contact{
        width: 100%;
    }
    
    .col{
        width: 100%;
        margin: 0 0 4% 0;     
    }
     .our-msg,h4{
        width: 100%;
        padding: 0 2%;
    }
    .row{
        padding: 0 2%;
    }
    .main-nav{padding: 0 2%;}
    h4{
        padding-top: 2%;
    }
    
}